In [2]:
import pandas as pd
import numpy as np

In [4]:
mydata=pd.read_csv('mydata.csv')
mydata=mydata.iloc[:,1:]
mydata

,year_scores,city,state,winscore,losscore,loser,winner,locale,TSU score,opponent score,...,TSUrushyards,TSUreceiveyards,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,year_fullstats
0,2003,Nashville,TN,37,20,South Carolina State University,Tennessee State University,Home,37,20,...,113,365,69,88,69,33,3.0,21,5,2003
1,2003,Huntsville,AL,31,24,Tennessee State University,Alabama A&M University,Away,24,31,...,141,146,147,8,68,22,0.0,0,7,2003
2,2003,Memphis,TN,44,14,Jackson State University,Tennessee State University,Away,44,14,...,209,132,138,107,84,26,1.0,4,5,2003
3,2003,Atlanta,GA,10,7,Tennessee State University,Florida A&M University,Away,7,10,...,153,138,86,2,50,22,0.0,0,6,2003
4,2003,Nashville,TN,41,10,University of Tennessee Martin,Tennessee State University,Home,41,10,...,142,285,11,29,76,46,4.0,22,3,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2019,Nashville,TN,26,24,Austin Peay State University,Tennessee State University,Home,26,24,...,116,220,66,0,60,11,1.0,0,6,2019
187,2019,Nashville,TN,32,13,Tennessee State University,Southeast Missouri State University,Home,13,32,...,83,217,113,13,62,17,2.0,8,4,2019
188,2019,Nashville,TN,49,38,Tennessee State University,Eastern Illinois University,Home,38,49,...,97,209,162,62,63,46,2.0,21,3,2019
189,2019,Martin,TN,28,17,Tennessee State University,University of Tennessee Martin,Away,17,28,...,193,123,105,6,67,26,2.0,12,6,2019
190,2019,Cookeville,TN,37,27,Tennessee Tech University,Tennessee State University,Away,37,27,...,198,225,51,25,79,22,2.0,14,4,2019

In [7]:
#create opponent column
mydata['opponent']=np.where(mydata['loser']!='Tennessee State University',mydata['loser'],mydata['winner'])
mydata['opponent'].value_counts()

Eastern Illinois University            17
University of Tennessee Martin         16
Tennessee Tech University              16
Jackson State University               16
Southeast Missouri State University    15
Eastern Kentucky University            15
Murray State University                15
Jacksonville State University          14
Austin Peay State University           13
Florida A&M University                 13
Alabama A&M University                  8
Samford University                      5
Southern University & A&M College       4
Bethune Cookman University              4
Vanderbilt University                   3
University of Arkansas Pine Bluff       3
South Carolina State University         2
North Carolina A&T State University     2
Alabama State University                2
Middle Tennessee State University       1
Virginia University Lynchburg           1
Central State University                1
Air Force Academy                       1
Mississippi Valley State University     1
Edward Waters College                   1
Georgia State University                1
Butler University                       1
Name: opponent, dtype: int64

In [18]:
#create variable for conference/nonconference games
mydata['gametype']=np.where(mydata['opponent'].isin(["Austin Peay State University","Southeast Missouri State University",
                                                    "Tennessee Tech University","Eastern Illinois University", 
                                                     "Belmont University","Eastern Kentucky University",
                                                     "Jacksonville State University", "Morehead State University",
                                                    "Murray State University", "Southern Illinois University Evansville",
                                                    "University of Tennessee Martin"]),
                            "conference", "nonconference")
mydata['gametype'].value_counts()

conference       121
nonconference     70
Name: gametype, dtype: int64

In [20]:
mydata

,year_scores,city,state,winscore,losscore,loser,winner,locale,TSU score,opponent score,...,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,year_fullstats,opponent,gametype
0,2003,Nashville,TN,37,20,South Carolina State University,Tennessee State University,Home,37,20,...,69,88,69,33,3.0,21,5,2003,South Carolina State University,nonconference
1,2003,Huntsville,AL,31,24,Tennessee State University,Alabama A&M University,Away,24,31,...,147,8,68,22,0.0,0,7,2003,Alabama A&M University,nonconference
2,2003,Memphis,TN,44,14,Jackson State University,Tennessee State University,Away,44,14,...,138,107,84,26,1.0,4,5,2003,Jackson State University,nonconference
3,2003,Atlanta,GA,10,7,Tennessee State University,Florida A&M University,Away,7,10,...,86,2,50,22,0.0,0,6,2003,Florida A&M University,nonconference
4,2003,Nashville,TN,41,10,University of Tennessee Martin,Tennessee State University,Home,41,10,...,11,29,76,46,4.0,22,3,2003,University of Tennessee Martin,conference
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2019,Nashville,TN,26,24,Austin Peay State University,Tennessee State University,Home,26,24,...,66,0,60,11,1.0,0,6,2019,Austin Peay State University,conference
187,2019,Nashville,TN,32,13,Tennessee State University,Southeast Missouri State University,Home,13,32,...,113,13,62,17,2.0,8,4,2019,Southeast Missouri State University,conference
188,2019,Nashville,TN,49,38,Tennessee State University,Eastern Illinois University,Home,38,49,...,162,62,63,46,2.0,21,3,2019,Eastern Illinois University,conference
189,2019,Martin,TN,28,17,Tennessee State University,University of Tennessee Martin,Away,17,28,...,105,6,67,26,2.0,12,6,2019,University of Tennessee Martin,conference
190,2019,Cookeville,TN,37,27,Tennessee Tech University,Tennessee State University,Away,37,27,...,51,25,79,22,2.0,14,4,2019,Tennessee Tech University,conference

In [21]:
#save data
mydata.to_csv("mydata.csv", encoding="utf-8")

In [22]:
mydata.columns

Index(['year_scores', 'city', 'state', 'winscore', 'losscore', 'loser',
       'winner', 'locale', 'TSU score', 'opponent score', 'scorediff',
       'scorediff_abs', 'winloss', 'date', 'attendance', 'TSUrushyards',
       'TSUreceiveyards', 'TSUkreturnyards', 'TSUpreturnyards', 'TSUtackles',
       'TSUtackleyd', 'TSUsacks', 'TSUsackyd', 'TSUpunt', 'year_fullstats',
       'opponent', 'gametype'],
      dtype='object')