In [2]:
import pandas as pd
import numpy as np

In [3]:
mydata=pd.read_csv('mydata.csv')
mydata=mydata.iloc[:,1:]
mydata

,city,state,winscore,losscore,loser,winner,locale,TSU score,opponent score,scorediff,...,TSUkreturnyards,TSUpreturnyards,TSUtackles,TSUtackleyd,TSUsacks,TSUsackyd,TSUpunt,opponent,gametype,year
0,Nashville,TN,37,20,South Carolina State University,Tennessee State University,Home,37,20,17,...,69,88,69,33,3.0,21,5,South Carolina State University,nonconference,2003
1,Huntsville,AL,31,24,Tennessee State University,Alabama A&M University,Away,24,31,-7,...,147,8,68,22,0.0,0,7,Alabama A&M University,nonconference,2003
2,Memphis,TN,44,14,Jackson State University,Tennessee State University,Away,44,14,30,...,138,107,84,26,1.0,4,5,Jackson State University,nonconference,2003
3,Atlanta,GA,10,7,Tennessee State University,Florida A&M University,Away,7,10,-3,...,86,2,50,22,0.0,0,6,Florida A&M University,nonconference,2003
4,Nashville,TN,41,10,University of Tennessee Martin,Tennessee State University,Home,41,10,31,...,11,29,76,46,4.0,22,3,University of Tennessee Martin,conference,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Nashville,TN,26,24,Austin Peay State University,Tennessee State University,Home,26,24,2,...,66,0,60,11,1.0,0,6,Austin Peay State University,conference,2019
187,Nashville,TN,32,13,Tennessee State University,Southeast Missouri State University,Home,13,32,-19,...,113,13,62,17,2.0,8,4,Southeast Missouri State University,conference,2019
188,Nashville,TN,49,38,Tennessee State University,Eastern Illinois University,Home,38,49,-11,...,162,62,63,46,2.0,21,3,Eastern Illinois University,conference,2019
189,Martin,TN,28,17,Tennessee State University,University of Tennessee Martin,Away,17,28,-11,...,105,6,67,26,2.0,12,6,University of Tennessee Martin,conference,2019
190,Cookeville,TN,37,27,Tennessee Tech University,Tennessee State University,Away,37,27,10,...,51,25,79,22,2.0,14,4,Tennessee Tech University,conference,2019

In [4]:
#create opponent column
mydata['opponent']=np.where(mydata['loser']!='Tennessee State University',mydata['loser'],mydata['winner'])
mydata['opponent'].value_counts()

Eastern Illinois University            17
Tennessee Tech University              16
University of Tennessee Martin         16
Jackson State University               16
Southeast Missouri State University    15
Eastern Kentucky University            15
Murray State University                15
Jacksonville State University          14
Austin Peay State University           13
Florida A&M University                 13
Alabama A&M University                  8
Samford University                      5
Southern University & A&M College       4
Bethune Cookman University              4
Vanderbilt University                   3
University of Arkansas Pine Bluff       3
South Carolina State University         2
Alabama State University                2
North Carolina A&T State University     2
Central State University                1
Mississippi Valley State University     1
Edward Waters College                   1
Air Force Academy                       1
Butler University                       1
Virginia University Lynchburg           1
Middle Tennessee State University       1
Georgia State University                1
Name: opponent, dtype: int64

In [5]:
#create variable for conference/nonconference games
mydata['gametype']=np.where(mydata['opponent'].isin(["Austin Peay State University","Southeast Missouri State University",
                                                    "Tennessee Tech University","Eastern Illinois University", 
                                                     "Belmont University","Eastern Kentucky University",
                                                     "Jacksonville State University", "Morehead State University",
                                                    "Murray State University", "Southern Illinois University Evansville",
                                                    "University of Tennessee Martin"]),
                            "conference", "nonconference")
mydata['gametype'].value_counts()

conference       121
nonconference     70
Name: gametype, dtype: int64

In [6]:
#create only 1 year variable
mydata['year']=mydata['year_scores']
mydata=mydata.drop(['year_scores','year_fullstats'], axis=1)
mydata.columns
#got errors cause this was run after variables were already dropped from data frame

KeyError: 'year_scores'

In [8]:
#make date a datetime variable
mydata['date']=pd.to_datetime(mydata['date'],format='%Y-%m-%d')
mydata.dtypes

city                       object
state                      object
winscore                    int64
losscore                    int64
loser                      object
winner                     object
locale                     object
TSU score                   int64
opponent score              int64
scorediff                   int64
scorediff_abs               int64
winloss                    object
date               datetime64[ns]
attendance                  int64
TSUrushyards                int64
TSUreceiveyards             int64
TSUkreturnyards             int64
TSUpreturnyards             int64
TSUtackles                  int64
TSUtackleyd                 int64
TSUsacks                  float64
TSUsackyd                   int64
TSUpunt                     int64
opponent                   object
gametype                   object
year                        int64
dtype: object

In [10]:
#save data
mydata.to_csv("mydata.csv", encoding="utf-8")